---
layout: default
---

<div id="main" role="main">
  <article class="page home-page">
    <div class="page__inner-wrap">
      <section class="page__content">
        {{ content }}
      </section>
    </div>
  </article>
</div>

<style>
  .home-page {
    max-width: 900px;
    margin: 0 auto;
    padding: 2em 1em;
  }
  
  .home-page .page__content {
    text-align: left;
  }
  
  .home-page h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
  }
  
  .home-page p {
    font-size: 1em;
    line-height: 1.6;
  }
  
  @media (max-width: 768px) {
    .home-page h1 {
      font-size: 2em;
    }
  }
</style>